<button class="btn-back" (click)="goBack()">← Volver</button>
<h2>Gestión de Edificios</h2>

<!-- Botón para abrir el modal -->
<button class="btn add" (click)="toggleForm()">Agregar Edificio</button>

<!-- Modal flotante oscuro -->
<div class="modal-overlay" *ngIf="showForm">
  <div class="floating-form">
    <div class="form-header">
      <h3>{{ isUpdate ? 'Actualizar Edificio' : 'Agregar Edificio' }}</h3>
      <span class="close" (click)="toggleForm()">×</span>
    </div>
    <div class="form-container">

      <!-- Número de Control (solo en actualización) -->
      <div class="form-row" *ngIf="isUpdate">
        <label>Clave Edificio</label>
        <input 
          placeholder="Clave Edificio" 
          [(ngModel)]="selectedEdificio.id" 
          readonly
        />
      </div>

      
      <!-- Nombre -->
      <div class="form-row">
        <label>Nombre Edificio</label>
        <input 
          placeholder="Nombre Edificio" 
          [ngModel]="isUpdate ? selectedEdificio.nombre_edificio : newEdificio.nombre_edificio"
          (ngModelChange)="isUpdate ? selectedEdificio.nombre_edificio = $event : newEdificio.nombre_edificio = $event"
        />
      </div>

      <div class="form-row">
        <label>Ubicacion </label>
        <input 
          placeholder="Ubicacion Edificio" 
          [ngModel]="isUpdate ? selectedEdificio.ubicacion_edificio : newEdificio.ubicacion_edificio"
          (ngModelChange)="isUpdate ? selectedEdificio.ubicacion_edificio = $event : newEdificio.ubicacion_edificio = $event"
        />
      </div>
      



    <div class="form-actions">
      <button class="btn post" (click)="createOrUpdateEdificio()">
        {{ isUpdate ? 'Actualizar' : 'Crear' }}
      </button>
      <button class="btn cancel" (click)="resetForm(); toggleForm();">Cancelar</button>
    </div>


      
    </div>
  </div>
</div>

<!-- Tabla de clases -->
<table class="crud-table">
  <thead>
    <tr>
      <th>Clave Edificio</th>
      <th>Nombre Edificio</th>
      <th>Ubicacion Edificio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let edificio of edificios">
      <td>{{ edificio.id }}</td>
      <td>{{ edificio.nombre_edificio }}</td>
      <td>{{ edificio.ubicacion_edificio }}</td>
      <td class="actions">
        <button class="btn view" (click)="verDetalles(edificio.id)">Ver Detalles</button>
        <button class="btn patch" (click)="toggleForm(edificio)">Actualizar</button>
        <button class="btn delete" (click)="deleteEdificio(edificio.id)">Eliminar</button>

      </td>
    </tr>
  </tbody>
</table>

